.ais-InfiniteHits-item {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  box-shadow: none;
}

.ais-CurrentRefinements-item {
  align-items: normal;
}

.ais-InfiniteHits-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-top: 5%;
}

@media only screen and (max-width: 900px) {
  .ais-InfiniteHits-list {
    padding-left: 5%;
    padding-top: 5%;
    grid-template-columns: 1fr;
  }
  .filterDivider {
    display: none;
  }
}

.ais-InfiniteHits-item {
  background-color: #f0f4f8;
}

.aa-Form,
.ais-SortBy-select,
.ais-SearchBox-form {
  border: none !important;
  height: 2.8rem;
}

.aa-Panel {
  z-index: 10;
}

body {
  background-color: #f0f4f8;
}

.MuiAspectRatio-content {
  background-color: white !important;
}
