.ais-InfiniteHits-item {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  box-shadow: none;
}

.ais-CurrentRefinements-item {
  align-items: normal;
}

.ais-InfiniteHits-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.aa-Form,
.ais-SortBy-select,
.ais-SearchBox-form {
  border: none !important;
  height: 2.8rem;
}

.aa-Panel {
  z-index: 10;
}
